<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

    <targets>
      <target name="traceRichTextBox" xsi:type="RichTextBox" layout="${longdate}|${level:uppercase=true}|${callsite:classname=false:fileName=false}|${message}|${exception:format=tostring}${newline}"
              autoScroll="true" maxLines="1000" controlName="richTextBoxTrace" formName="MainForm" useDefaultRowColoringRules="true">

        <row-coloring condition="contains(message,'Error')"     fontColor="Red" backgroundColor="White" style="Bold" />
        <row-coloring condition="contains(message,'Exception')" fontColor="Red" backgroundColor="White" style="Bold" />
      </target>

      <target name="errorRichTextBox" xsi:type="RichTextBox" layout="${longdate}|${level:uppercase=true}|${callsite:classname=false:fileName=false}|${message}|${exception:format=tostring}${newline}"
        autoScroll="true" maxLines="1000" controlName="richTextBoxError" formName="MainForm" useDefaultRowColoringRules="true">

        <row-coloring condition="contains(message,'Error')"     fontColor="Red" backgroundColor="White" style="Bold" />
        <row-coloring condition="contains(message,'Exception')" fontColor="Red" backgroundColor="White" style="Bold" />
      </target>

      <!--target name="file"      xsi:type="File" fileName="${basedir}/logs/Trace.log" /-->
      <!--target name="errorFile" xsi:type="File" fileName="${basedir}/logs/Error.log" /-->

      <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/logs/Trace.log"
        archiveFileName="${basedir}/logs/archives/Trace.{#####}.log"
        archiveAboveSize="1048576"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />
      </targets>

      <target name="errorFile" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/logs/Error.log"
        archiveFileName="${basedir}/logs/archives/Error.{#####}.log"
        archiveAboveSize="1048576"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />
      </targets>
  
      <rules>
        <logger name="*" minlevel="Trace" writeTo="file"/>
        <logger name="*" minlevel="Trace" writeTo="traceRichTextBox"/>
      
        <logger name="*" minlevel="Error" writeTo="errorFile"/>
        <logger name="*" minlevel="Error" writeTo="errorRichTextBox"/>
      </rules>
</nlog>
