<?xml version="1.0"?>
<nlog autoReload="true"
      internalLogFile="NLog.log"
      throwExceptions="false"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="FileMate"
	 	        fileName="${basedir}/FileMate.log"
				layout="${message}"
				xsi:type="File" />
		<target name="Safemate"
		        fileName="${basedir}/Safemate.Log"
				layout="${message}"
				xsi:type="File" />
	</targets>
	<rules>
		<logger name="FileMate"
		        minlevel="Debug" writeTo="FileMate" />
		<logger name="SafemateLogger"
		        minlevel="Debug" writeTo="Safemate" />
	</rules>
</nlog>

