<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="Menumate.WinServices.Implementation.PosIntegrationService"
               behaviorConfiguration="PosIntegrationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/MenumateWinServices/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8732/MenumateWinService/service  -->
        <endpoint address=""
                  name="basicHttpBinding_PosIntegration"
                  binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration"
                  contract="Menumate.WinServices.Implementation.Contracts.IPosIntegration" />
        <!-- the mex endpoint is exposed at http://localhost:8732/MenumateWinService/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>

      <service name="Menumate.WinServices.Implementation.ReservationsService"
               behaviorConfiguration="ReservationsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/MenumateWinServices/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/MenumateWinService/service  -->
        <endpoint address="net.tcp://localhost:9999/MenumateWinServices/service"
                  binding="netTcpBinding"
                  name="netTcpBinding_ReservationService"
                  bindingConfiguration="tcpBindingConfiguration"
                  contract="Menumate.WinServices.Implementation.Contracts.IReservations" />
        <!-- the mex endpoint is exposed at http://localhost:8000/MenumateWinService/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="PosIntegrationServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>

        <behavior name="ReservationsServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="tcpBindingConfiguration" maxBufferPoolSize="1048576"
          maxBufferSize="99999999" maxReceivedMessageSize="99999999">
          <readerQuotas maxArrayLength="99999999" />
          <reliableSession ordered="false" enabled="true" />
          <security mode="None">
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </netTcpBinding>

      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration" maxBufferPoolSize="1048576"
          maxBufferSize="99999999" maxReceivedMessageSize="99999999" allowCookies="true">
          <readerQuotas maxArrayLength="99999999" />
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>

