<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
        propagateActivity="false">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="Menumate.WinServices.Implementation.PosIntegrationService">
        <endpoint address="net.tcp://localhost:10001/PosIntegrationService"
          binding="netTcpBinding" bindingConfiguration="tcpBindingConfiguration"
          name="netTcpBinding_PosIntegrationService" contract=" Menumate.WinServices.Implementation.Contracts.IPosIntegration" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/PosIntegration" />
          </baseAddresses>
        </host>
      </service>
      <service name="Menumate.WinServices.Implementation.ReservationService">
        <endpoint address="net.tcp://localhost:9999/ReservationsService"
          binding="netTcpBinding" bindingConfiguration="tcpBindingConfiguration"
          name="netTcpBinding_ReservationService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:10001/PosIntegrationService"
        binding="netTcpBinding" bindingConfiguration="tcpBindingConfiguration"
        contract="Menumate.WinServices.Implementation.Contracts.IPosIntegration"
        name="MenumateClientPosIntegrationConfig" />
      <endpoint address="net.tcp://localhost:9999/ReservationsService"
        binding="netTcpBinding" bindingConfiguration="tcpBindingConfiguration"
        contract="Menumate.WinServices.Implementation.Contracts.IReservation"
        name="MenumateClientReservationConfig" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBindingConfiguration" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          maxBufferPoolSize="1048576" maxBufferSize="26214400" maxReceivedMessageSize="26214400">
          <readerQuotas maxArrayLength="1638400" />
          <reliableSession ordered="false" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfiguration" allowCookies="true">
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Menumate.WinServices.Implementention.PosIntegrationService">
          <serviceDebug httpHelpPageEnabled="true" httpsHelpPageEnabled="true"
            includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"
            policyVersion="Default" />
        </behavior>
        <behavior name="Menumate.WinServices.Implementention.ReservationService">
          <serviceDebug httpHelpPageEnabled="true" httpsHelpPageEnabled="true"
            includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"
            policyVersion="Default" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
