<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FloorPlanEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FloorPlanEditor.Properties.Settings>
            <setting name="TextsFilename" serializeAs="String">
                <value>Texts.xml</value>
            </setting>
        </FloorPlanEditor.Properties.Settings>
    </applicationSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration" maxBufferPoolSize="1048576"
          maxBufferSize="99999999" maxReceivedMessageSize="99999999" allowCookies="true">
          <readerQuotas maxArrayLength="99999999" />
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/MenumateWinServices/service"
            name="basicHttpBinding_PosIntegration"
            binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration"
            contract="IPosIntegration"/>
    </client>
  </system.serviceModel>

</configuration>