<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target
      layout           = " ${date}: ${level}: ${message}"
      name             = "logfile"
      xsi:type         = "File"
      fileName         = "${basedir}/logs/chefmate.log"
      archiveEvery     = "Day"      
      archiveFileName  = "${basedir}/logs/archive/chefmate.{#####}.log"
      archiveNumbering = "Sequence"
      concurrentWrites = "true"
      keepFileOpen     = "false"
      encoding         = "iso-8859-2"/>

    <target
      layout           = "${message}"
      name             = "logTimingFile"
      xsi:type         = "File"
      fileName         = "${basedir}/logs/chefmateTimings.log"
      archiveEvery     = "Month"
      archiveFileName  = "${basedir}/logs/archive/chefmateTimings.{#####}.log"
      archiveNumbering = "Sequence"
      concurrentWrites = "true"
      keepFileOpen     = "false"
      encoding         = "iso-8859-2"/>
 </targets>

  <rules>
    <logger name="tracer" minlevel="trace" writeTo="logfile" />
    <logger name="timing" minlevel="debug" writeTo="logTimingFile" />
  </rules>
</nlog>