<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XeroIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    
  <applicationSettings>
    <XeroIntegration.Properties.Settings>
      <setting name="XeroIntegrationConfigFilename" serializeAs="String">
        <value>XeroIntegration.xml</value>
      </setting>
      <setting name="XeroIntegrationCacheFolder" serializeAs="String">
        <value>Xero Integration\Cache</value>
      </setting>
      <setting name="XeroIntegrationFailedFolder" serializeAs="String">
        <value>Xero Integration\Failed</value>
      </setting>
      <setting name="XeroIntegrationSuccessfulFolder" serializeAs="String">
        <value>Xero Integration\Successful</value>
      </setting>
      <setting name="XeroIntegrationRetryFolder" serializeAs="String">
        <value>Xero Integration\Retry</value>
      </setting>
    </XeroIntegration.Properties.Settings>
  </applicationSettings>
</configuration>