<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AccountingIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    
  <applicationSettings>
    <AccountingIntegration.Properties.Settings>
      <setting name="AccountingIntegrationConfigFilename" serializeAs="String">
        <value>AccountingIntegration.xml</value>
      </setting>
      <setting name="XeroIntegrationCacheFolder" serializeAs="String">
        <value>Xero Integration\Cache</value>
      </setting>
      <setting name="XeroIntegrationFailedFolder" serializeAs="String">
        <value>Xero Integration\Failed</value>
      </setting>
      <setting name="XeroIntegrationSuccessfulFolder" serializeAs="String">
        <value>Xero Integration\Successful</value>
      </setting>
      <setting name="XeroIntegrationRetryFolder" serializeAs="String">
        <value>Xero Integration\Retry</value>
      </setting>
      <setting name="MYOBIntegrationCacheFolder" serializeAs="String">
        <value>MYOB Integration\Cache</value>
      </setting>
      <setting name="MYOBIntegrationFailedFolder" serializeAs="String">
        <value>MYOB Integration\Failed</value>
      </setting>
      <setting name="MYOBIntegrationSuccessfulFolder" serializeAs="String">
        <value>MYOB Integration\Successful</value>
      </setting>
      <setting name="MYOBIntegrationRetryFolder" serializeAs="String">
        <value>MYOB Integration\Retry</value>
      </setting>
      <setting name="CompanyFileDetails" serializeAs="String">
        <value>CompanyFileDetails.xml</value>
      </setting>
    </AccountingIntegration.Properties.Settings>
  </applicationSettings>
</configuration>