<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MenumateServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MenumateServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceWebMateBehavior" name="MenumateServices.WCFServices.WCFServiceWebMate">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration"
          name="basicHttpBinding_ServiceWebMate" contract="MenumateServices.WCFServices.IWCFServiceWebMate">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/MenumateServices/WebMate/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceLoyaltyMateBehavior" name="MenumateServices.WCFServices.WCFServiceLoyaltyMate">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longTimeoutHttpBindingConfiguration"
          name="basicHttpBinding_ServiceLoyaltyMate" contract="MenumateServices.WCFServices.IWCFServiceLoyaltyMate">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/MenumateServices/LoyaltyMate/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceSmartLinkBehavior" name="MenumateServices.WCFServices.WCFServiceSmartLink">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longTimeoutHttpBindingConfiguration" name="basicHttpBinding_ServiceSmartLink" contract="MenumateServices.WCFServices.IWCFServiceSmartLink">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8738/MenumateServices/SmartLink/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceThorLinkBehavior" name="MenumateServices.WCFServices.WCFServiceThorlink">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longTimeoutHttpBindingConfiguration" name="basicHttpBinding_ServiceThorLink"
                  contract="MenumateServices.WCFServices.IWCFServiceThorlink">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8739/MenumateServices/ThorLink/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServicePocketVoucherBehavior" name="MenumateServices.WCFServices.PocketVoucherWebService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration"
          name="basicHttpBinding_ServicePocketVoucher" contract="MenumateServices.WCFServices.IPocketVoucherWebService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8740/MenumateServices/PocketVoucherService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceSalesForceBehavior" name="MenumateServices.WCFServices.SalesForceIntegrationWebService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration"
          name="basicHttpBinding_ServiceSalesForce" contract="MenumateServices.WCFServices.ISalesForceIntegrationWebService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8741/MenumateServices/SalesForceService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceWalletPaymentsBehavior" name="MenumateServices.WCFServices.WCFServiceWalletPayments">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longTimeoutHttpBindingConfiguration"
          name="basicHttpBinding_ServiceWalletPayments" contract="MenumateServices.WCFServices.IWCFServiceWalletPayments">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8743/MenumateServices/WalletPayments/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceSiHotBehavior" name="MenumateServices.WCFServices.SiHotIntegrationWebService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration"
          name="basicHttpBinding_ServiceSiHot" contract="MenumateServices.WCFServices.ISiHotIntegrationWebService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8742/MenumateServices/SiHotService/" />
          </baseAddresses>
        </host>
      </service>      

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceWebMateBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <useRequestHeadersForMetadataAddress/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServiceLoyaltyMateBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <useRequestHeadersForMetadataAddress/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServicePocketVoucherBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <useRequestHeadersForMetadataAddress/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServiceSalesForceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <useRequestHeadersForMetadataAddress/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServiceSmartLinkBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <useRequestHeadersForMetadataAddress/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServiceThorLinkBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <useRequestHeadersForMetadataAddress/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServiceSiHotBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <useRequestHeadersForMetadataAddress/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>        
        <behavior name="ServiceWalletPaymentsBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <useRequestHeadersForMetadataAddress/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration" maxBufferPoolSize="1048576" maxBufferSize="99999999" maxReceivedMessageSize="99999999" allowCookies="true">
          <readerQuotas maxArrayLength="99999999"/>
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
        </binding>
        <binding name="longTimeoutHttpBindingConfiguration" receiveTimeout="00:25:00" sendTimeout="00:25:00" maxBufferPoolSize="1048576" maxBufferSize="99999999" maxReceivedMessageSize="99999999" allowCookies="true">
          <readerQuotas maxArrayLength="99999999"/>
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRedemptionServiceV1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:25:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.host.pocketvouchers.com/Redemption.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedemptionServiceV1"
          contract="PocketVoucherServiceReference.IRedemptionServiceV1"
          name="BasicHttpBinding_IRedemptionServiceV1" />
    </client>    
  </system.serviceModel>

  <!--<system.diagnostics>
      <trace autoflush="true" />
      <sources>
        <source name="System.ServiceModel"
                switchValue="Information, ActivityTracing"
                propagateActivity="true">
          <listeners>
            <add name="sdt"
                type="System.Diagnostics.XmlWriterTraceListener"
                initializeData= "MenumateServicesTrace.e2e" />
          </listeners>
        </source>
      </sources>
    </system.diagnostics>-->

  <applicationSettings>
    <MenumateServices.Properties.Settings>
      <setting name="AccountingIntegrationConfigFilename" serializeAs="String">
        <value>AccountingIntegration.xml</value>
      </setting>
      <setting name="AccountingAppID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServiceConfigFilename" serializeAs="String">
        <value>ServiceLoaderConfig.xml</value>
      </setting>
      <setting name="DatabaseLocation" serializeAs="String">
        <value>C:\Program Files\MenuMate</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>Menumate.FDB</value>
      </setting>
      <setting name="DatabaseIPAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="MenumateLocation" serializeAs="String">
        <value>C:\Program Files\MenuMate</value>
      </setting>
      <setting name="MenumateName" serializeAs="String">
        <value>menumate.exe</value>
      </setting>
      <setting name="SalesforceCredentialsFilename" serializeAs="String">
        <value>SalesforceCredentials.info</value>
      </setting>
      <setting name="WebOrderURL" serializeAs="String">
        <value>Webmate\WebOrders</value>
      </setting>
    </MenumateServices.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <MenumateServices.Properties.Settings>
    </MenumateServices.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750ABCC3150B00C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.5.0" newVersion="2.6.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
