#include "ZipMsg.h"

STRINGTABLE {
	GE_FatalZip, 		 "Fatális hiba a ZipDLL.DLL fájlban: a program futása befejezõdött"
	GE_NoZipSpecified, 	 "Hiba - nincs mit tömöríteni"
	GE_NoMem,		 "Nincs elég memória"
	GE_WrongPassword,	 "Hiba - hibás jelszó vagy a beírt jelszavak nem egyeznek"
	GE_CopyFile,		 "Másolás: "

	RN_ZipSFXData,           "Hiba az SFX header másolása közben"
	RN_NoRenOnSpan,          "Az átnevezés nem érvényes"
	RN_ProcessFile,          "Feldolgozás: "
	RN_RenameTo,		 " átnevezés : "

	PW_UnatAddPWMiss,	 "Hiba - a becsomagoláshoz nem adtál meg jelszót"
	PW_UnatExtPWMiss,	 "Hiba - a kicsomagoláshoz nem adtál meg jelszót"
	PW_Ok,			 "&Ok"
	PW_Cancel,		 "&Mégsem"
	PW_Caption,	 	 "Jelszó"
	PW_MessageEnter,	 "Adja meg a jelszót "
	PW_MessageConfirm,	 "Jelszó megerõsítése"
	PW_CancelAll,		 "Mind kihagyja"
	PW_Abort,		 "Megszakítás"
	PW_ForFile,		 " fájlhoz: "

	CF_SourceIsDest, 	 "A forrásfájl ugyanaz mint a célfájl!";
	CF_OverwriteYN,		 "Felülírjam '%s' fájlt '%s' -ra ?"
	CF_CopyFailed,		 "A(z) '%s' nevû fájl másolása '%s' névre nem sikerült"
	CF_SourceNotFound,	 "A(z) '%s' fájl nem létezik '%s' -ban!"
	CF_SFXCopyError,	 "Hiba az SFX adatok másolása közben"
	CF_DestFileNoOpen, 	 "A cél zip fájlt nem lehet megynyitni!"

	LI_ReadZipError,	 "Keresési hiba a Zip archív olvasása közben!"
	LI_ErrorUnknown,	 "Ismeretlen hiba a List() funkcióban"
	LI_WrongZipStruct, 	 "Figyelem - Hiba a zip struktúrában!"
	LI_GarbageAtEOF,	 "Figyelem - szemét van a zipfájl végén!"

	AD_NothingToZip,	 "Hiba - nincs mit tömöríteni!"
	AD_UnattPassword,	 "Ellenõrizetlen akció nem lehetséges jelszó nélkül"
	AD_NoFreshenUpdate,	 "Frissítés nem lehetséges egy szétdarabolt archívon"
	AD_AutoSFXWrong,	 "Hiba %.1d keletkezett az Auto SFX készítése közben."
	AD_NoStreamDLL,		 "Hiba - a ZipDLL.dll fájl nem tud folyamot kezelni, frissítse a fájlt az 1.60+ verzióra"
	AD_InIsOutStream,	 "A bemenõ folyamot nem lehet beállítani a kimenõ folyamra"
	AD_InvalidName,	 	 "Speciális jelek nem megengedettek a fájlnévben vagy a fájl specifikációban"

	DL_NothingToDel,	 "Hiba - nincs fájl kijelölve a törléshez"

	EX_FatalUnZip,		 "Fatális Hiba az UnzDLL.DLL fájlban: a program futása befejezõdött"
	EX_UnAttPassword,	 "Figyelem - ellenõrizetlen kicsomagolás: lehetséges, hogy egyik fájl kicsomagolása sem sikerül"
	EX_NoStreamDLL,		 "Hiba - az UnzDLL.dll fájl nem tud folyamot kezelni, frissítse a fájlt az 1.60+ verzióra"

	LZ_ZipDllLoaded,	 "ZIPDLL betöltve!"
	LZ_NoZipDllExec,	 "ZipDllExec funkció nem található a ZIPDLL.DLL fájlban!"
	LZ_NoZipDllVers,	 "GetZipDllVersion funkció nem található a ZIPDLL.DLL fájlban!"
	LZ_NoZipDll,		 "ZIPDLL.DLL fájl nem található!"

	LU_UnzDllLoaded,	 "UNZDLL betöltve!"
	LU_NoUnzDllExec,	 "UnzDllExec funkció nem található az UNZDLL.DLL fájlban!"
	LU_NoUnzDllVers,	 "GetUnzDllVersion funkció nem található az UNZDLL.DLL fájlban!"
	LU_NoUnzDll,		 "UNZDLL.DLL fájl nem található!"

	SF_StringToLong,	 "Hiba - A 4 közül egy vagy több tulajdonság meghaladta a 255 karakter hosszat!"
	SF_NoZipSFXBin,	 	 "Hiba - ZIPSFX.BIN fájl nem található!"
	SF_InputIsNoZip,	 "Hiba - a bemenõ fájl nem zip fájl"

	CZ_NoExeSpecified, 	 "Hiba - nincs .EXE kijelölve"
	CZ_InputNotExe,	 	 "Hiba - a bemenõ fájl nem valódi .EXE"
	CZ_SFXTypeUnknown, 	 "Hiba - az SFX archív típusának meghatározása során"

	DS_NoInFile,		 "Bemenõ fájl nem létezik"
	DS_FileOpen,		 "A zip fájlt nem lehet megnyitni"
	DS_NotaDrive,		 "Nem létezõ meghajtó: %s"
	DS_DriveNoMount,	 "%s nevû meghajtó nincs definiálva"
	DS_NoVolume,		 "Kötetcímke nem állítható be"
	DS_NoMem,		 "Nincs elég memória az üzenetablak megjelenítéséhez"
	DS_Canceled,		 "A felhasználó megszakította a mûködést"
	DS_FailedSeek,		 "Keresési hiba az bemenõ fájlban"
	DS_NoOutFile,		 "A kimenõ fájl létrehozása megszakadt"
	DS_NoWrite,		 "Írási hiba a kimenõ fájlban"
	DS_EOCBadRead,		 "Hiba a központi könyvtár olvasása közben"
	DS_LOHBadRead,		 "Hiba a helyi header olvasása közben"
	DS_CEHBadRead,		 "Hiba a központi header olvasása közben"
	DS_LOHWrongSig,	 	 "A helyi header aláírás hibás"
	DS_CEHWrongSig,	 	 "A központi header aláírás hibás"
	DS_LONameLen,		 "Hiba a helyi fájl név olvasása közben"
	DS_CENameLen,		 "Hiba a központi fájl név olvasása közben"
	DS_LOExtraLen,		 "Hiba a helyi extra mezõ olvasása közben"
	DS_CEExtraLen,		 "Hiba a központi extra mezõ olvasása közben"
	DS_DataDesc,		 "Hiba az adat leíró terület olvasása/írása közben"
	DS_ZipData,		 "Hiba a tömörített adatok olvasása közben"
	DS_CECommentLen,	 "Hiba a fájl megjegyés olvasása közben"
	DS_EOArchComLen,	 "Hiba az archív megjegyés olvasása közben"
	DS_ErrorUnknown,	 "Ismeretlen Hiba a ReadSpan(), WriteSpan(), Rename() vagy a CopyZippedFiles() \n funkcióban"
	DS_NoUnattSpan,		 "Ellenõrizetlen lemez szétdarabolása nem érvényes"
	DS_EntryLost,		 "A local header -t nem találtam a belsõ struktúrában"
	DS_NoTempFile,		 "Ideiglenes fájlt nem lehet létrehozni"
	DS_LOHBadWrite,	 	 "Hiba a helyi header írása közben"
	DS_CEHBadWrite,	 	 "Hiba a központi header írása közben"
	DS_EOCBadWrite,	 	 "Hiba az ECD írása közben"
	DS_ExtWrongSig,	 	 "Hiba az kiterjesztett helyi aláírás olvasása közben"
	DS_NoDiskSpace,	 	 "Nincs elég hely a lemezen"
	DS_InsertDisk,		 "Tegye be az utolsó lemezt"
	DS_InsertVolume,	 "Tegye be a(z) %.1d lemezt az %.1d -bõl"
	DS_InDrive,		 "\n meghajtóban: %s"
	DS_NoValidZip,		 "Ez az archív nem valódi Zip archív fájl"
	DS_FirstInSet,		 "Ez az elsõ lemez a backup beállításban,\n kérem válassza az utolsó lemezt"
	DS_NotLastInSet,	 "Ez a(z) %dth lemez a backup beállításban,\n kérem válassza az utolsó lemezt"
	DS_AskDeleteFile,	 "Már létezik a(z) %s nevû fáhl \n Felülírja"
	DS_AskPrevFile,		 "FIGYELEM: EZ az elõzõ lemez %d!!!\n Biztosan felülírja a tartalmát"
	DS_NoSFXSpan,		 "Hiba - önkicsomagoló archív (.exe) fájlokat nem lehet szétdarabolni"
	DS_CEHBadCopy,		 "Hiba a fájlnév CEH struktúrában való másolása közben"
	DS_EOCBadSeek,		 "Keresési hiba az EOC struktúra átugrása közben"
	DS_EOCBadCopy,		 "Hiba az archív megjegyés másolása közben"
	DS_FirstFileOnHD,	 "Ez az elsõ fájl a backup beállításban,\n kérem válassza az utolsó fájt"
	DS_InsertAVolume,        "Tegye be a(z) %.1d sorszámú lemezt"
	DS_CopyCentral,          "Központi könyvtár"
}
