<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets async="true">
    <target name="traceRichTextBox" xsi:type="RichTextBox" layout="${date}: ${message}  ${exception:format=tostring}"
            autoScroll="true" maxLines="100" controlName="richTextBoxTrace" formName="MainForm" useDefaultRowColoringRules="true">
      <row-coloring condition="contains(message,'Warning:')" fontColor="Blue"  style="Bold"/>
    </target>

    <target name="errorRichTextBox" xsi:type="RichTextBox" layout="${date}: ${message}  ${exception:format=tostring}"
            autoScroll="true" maxLines="1000" controlName="richTextBoxError" formName="MainForm" useDefaultRowColoringRules="true">
      <row-coloring condition="contains(message,'')" fontColor="Red" backgroundColor="White" style="Bold"/>
    </target>

    <target name="notificationRichTextBox" xsi:type="RichTextBox" layout="${date}: ${message}  ${exception:format=tostring}"
            autoScroll="true" maxLines="1000" controlName="richTextBoxNotification" formName="MainForm" useDefaultRowColoringRules="true">
      <row-coloring condition="contains(message,'')"       fontColor="Blue"  backgroundColor="White" style="Regular"/>
      <row-coloring condition="contains(message,'Email:')" fontColor="Blue"  backgroundColor="White" style="Bold"/>
    </target>

    <!--target name="errorGmail"  xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="jorgel@menumate.com"
            smtpPassword="menumate1202"
            enableSsl="true"
            from="dev@menumate.com"
            to="chris@menumate.com"
            subject="Summa failure: Site ID: "
            body="${date}: ${message}"
          /-->

    <!--target name="file"      xsi:type="File" fileName="${basedir}/logs/Trace.log" /-->
    <!--target name="errorFile" xsi:type="File" fileName="${basedir}/logs/Error.log" /-->

    <target name="file" xsi:type="File"
      layout="${date}: ${logger}: ${message}"
      fileName="${basedir}/logs/Trace.log"
      archiveFileName="${basedir}/logs/archive/Trace.{#####}.log"
      archiveAboveSize="1048576"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="iso-8859-2" />

    <target name="fileFM" xsi:type="File"
      layout="${date}: ${logger}: ${message}"
      fileName="${basedir}/logs/Trace.log"
      archiveFileName="${basedir}/logs/archive/TraceFM.{#####}.log"
      archiveAboveSize="1048576"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="iso-8859-2" />

    <target name="notificationFile" xsi:type="File"
      layout="${date}: ${logger}: ${message}"
      fileName="${basedir}/logs/Notification.log"
      archiveFileName="${basedir}/logs/archive/Notification.{#####}.log"
      archiveAboveSize="1048576"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="iso-8859-2" />

    <target name="errorFile" xsi:type="File"
      layout="${date}: ${logger}: ${message}"
      fileName="${basedir}/logs/Error.log"
      archiveFileName="${basedir}/logs/archive/Error.{#####}.log"
      archiveAboveSize="1048576"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="iso-8859-2" />

    <target name="errorFileFM" xsi:type="File"
      layout="${date}: ${logger}: ${message}"
      fileName="${basedir}/logs/Error.log"
      archiveFileName="${basedir}/logs/archive/ErrorFM.{#####}.log"
      archiveAboveSize="1048576"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="iso-8859-2" />
  </targets>

  <rules>
    <!--New loggers-->
    <logger name="ScreenLog" minlevel="Trace" writeTo="traceRichTextBox"/>
    <logger name="FileLog"   minlevel="Trace" writeTo="file"/>

    <!--logger name="ScreenError" minlevel="Trace" writeTo="errorRichTextBox"/-->
    <!--logger name="FileError"   minlevel="Trace" writeTo="errorFile"/-->

    <!--logger name="ScreenNotification" minlevel="Trace" writeTo="notificationRichTextBox"/-->
    <!--logger name="FileNotification"   minlevel="Trace" writeTo="notificationFile"/-->
    <!--/New loggers-->

    <logger name="FileMate" minlevel="Trace" writeTo="fileFM"/>
    <logger name="FileMate" minlevel="Error" writeTo="errorFileFM"/>

    
    
    
    
    <logger name="App" minlevel="Trace" writeTo="file"/>
    <logger name="App" minlevel="Trace" writeTo="traceRichTextBox"/>

    <logger name="App" minlevel="Error" writeTo="errorFile"/>
    <logger name="App" minlevel="Error" writeTo="errorRichTextBox"/>

    <!--logger name="eMail" minlevel="Error" writeTo="errorGmail"/-->

    <logger name="Notification" minlevel="Trace" writeTo="file"/>
    <logger name="Notification" minlevel="Error" writeTo="errorFile"/>
    <logger name="Notification" minlevel="Trace" writeTo="notificationRichTextBox"/>
  
  </rules>
</nlog>
