<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Core.Properties.Settings>
            <setting name="Core_Crm_Salesforce_SalesforceServiceBinding_SforceService"
                serializeAs="String">
                <value>https://test.salesforce.com/services/Soap/c/21.0/0DFR00000008SwY</value>
            </setting>
            <setting name="Safemate_Core_CrmSalesforceBinding_SforceService"
                serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/c/22.0/0DF20000000cHnp</value>
            </setting>
        </Core.Properties.Settings>
    </applicationSettings>
</configuration>