<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      throwExceptions="true"
      internalLogFile="Nlog.log">

  <targets async="true">
    <target xsi:type="Console" name="Screen"
            layout="${newline} ${stacktrace} ${message}" />

    <target xsi:type="File" name="Log" fileName="${basedir}/logs/Log.txt"
             deleteOldFileOnStartup="true" archiveAboveSize="1000000" archiveEvery="Day" archiveNumbering="Rolling"
            layout="${longdate}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=tostring}" />

    <target xsi:type="File" name="ErrorLog" fileName="${basedir}/logs/ErrorLog.txt"
             deleteOldFileOnStartup="true" archiveAboveSize="1000000" archiveEvery="Day" archiveNumbering="Rolling"
            layout="${longdate}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=tostring}" />

    <target xsi:type="File" name="Updater" fileName="${basedir}/logs/UpgradeLog.txt"
            layout="${longdate}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=tostring}" />

   
    <target xsi:type="File" name="TraceLog" fileName="${basedir}/logs/TraceLog.txt"
            deleteOldFileOnStartup="true" archiveAboveSize="1000000" archiveEvery="Day" archiveNumbering="Rolling"
            layout="${newline} ${longdate} ${level} | ${message} ${newline} ${stacktrace}" />

    <target xsi:type="File" name="Other" fileName="${basedir}/logs/OtherLog.txt"
            layout="${longdate}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Updater"  writeTo="Updater" final="true"/>    
    <logger name="*" minlevel="Warn" writeTo="ErrorLog"/>
    <logger name="*" minlevel="Info" writeTo="Log"/>
    <logger name="*" minlevel="Trace" writeTo="TraceLog"/>
  </rules>
</nlog>
