<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Loyalty_mate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <Loyalty_mate.Properties.Settings>
            <setting name="DatabaseLocation" serializeAs="String">
                <value>C:\Databases\DougnutKing</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>Menumate.FDB</value>
            </setting>
            <setting name="DatabaseIPAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Loyalty_mate_SalesforceServiceRef_SforceService"
                serializeAs="String">
                <value>https://test.salesforce.com/services/Soap/c/32.0/0DFR00000004GaD</value>
            </setting>
        </Loyalty_mate.Properties.Settings>
    </applicationSettings>
</configuration>
