<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="Nlog.log">

  <targets async="true">
    <target name="MenumateWinServices" xsi:type="File" fileName="${basedir}/logs/${logger}.log"
            layout="${date}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=ToString}"/>

    <target name="Error" xsi:type="File" fileName="${basedir}/logs/Error.log"
            layout="${date}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=ToString}"/>

    <target name="Debug" xsi:type="File" fileName="${basedir}/logs/Debug.log"
            layout="${date} ${message}"/>

    <target name="Trace" xsi:type="File" fileName="${basedir}/logs/Trace.log"
            layout="${date} ${message}"/>

    <target name="ExtendedTrace" xsi:type="File" fileName="${basedir}/logs/ExTrace.log"
            layout="${date}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}"/>

  </targets>

  <rules>
    <logger name="Error"   minlevel="Error" writeTo="Error"/>
    <logger name="Debug"   minlevel="Debug" writeTo="Debug"/>
    <logger name="Trace"   minlevel="Trace" writeTo="Trace"/>
    <logger name="ExTrace" minlevel="Trace" writeTo="ExtendedTrace"/>
  </rules>
</nlog>
