<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding_ServiceWebMate" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/MenumateServices/WebMate/"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_ServiceWebMate"
                contract="WebMateServiceReference.IWCFServiceWebMate" name="basicHttpBinding_ServiceWebMate" />
        </client>
    </system.serviceModel>
</configuration>