<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IntaMate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IntaMate.Properties.Settings>
            <setting name="RoomNumberLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PMSPassThough" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="IOInterfaceType" serializeAs="String">
                <value>proto_Stub</value>
            </setting>
            <setting name="InterfaceAPI" serializeAs="String">
                <value>Stub</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>Localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>4010</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>4455</value>
            </setting>
            <setting name="ReadTimeOut" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="InterfaceMsgType" serializeAs="String">
                <value>msgNone</value>
            </setting>
        </IntaMate.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
