<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      throwExceptions="true"
      internalLogFile="Nlog.log">

  <targets async="true">
    <target xsi:type="Console" name="Screen"
            layout="${newline} ${stacktrace} ${message}" />

    <target xsi:type="File" name="IntaMateLog" fileName="${basedir}/IntaMate.log"
            layout="${longdate}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=tostring}" />

    <target xsi:type="FormControl" name="LogBoxControl" controlName="LogBox" formName="MainForm"
           layout="${longdate}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=tostring}${newline}" />
    
    <target xsi:type="File" name="SummaFailedTx" fileName="${basedir}/SummaFailedTx.log"
            layout="${longdate}|${level:uppercase=true}|${callsite:classname=false:fileName=false}|${message}|${exception:format=tostring}" />

  </targets>

  <rules>
    <logger name="SummaFailedTx" minlevel="Trace" writeTo="SummaFailedTx"/>
    <logger name="*" minlevel="Trace"  writeTo="Screen"/>
    <logger name="*" minlevel="Trace"  writeTo="IntaMateLog"/>
    <logger name="*" minlevel="Trace"  writeTo="LogBoxControl"/>
  </rules>
</nlog>