<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="basicHttpBindingConfiguration" maxBufferPoolSize="1048576"
              maxBufferSize="99999999" maxReceivedMessageSize="99999999" allowCookies="true">
              <readerQuotas maxArrayLength="99999999" />
              <security>
                <transport>
                  <extendedProtectionPolicy policyEnforcement="Never" />
                </transport>
              </security>
            </binding>
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/MenumateWinServices/service"
                  name="basicHttpBinding_PosIntegration"
                  binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration"
                  contract="IPosIntegration"/>
        </client>
    </system.serviceModel>
</configuration>