<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="Nlog.log">

  <targets async="true">
    <target name="MenumateWinServices" xsi:type="File" fileName="${basedir}/logs/${logger}.log"
            layout="${date}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=ToString}"/>

    <target name="Error" xsi:type="File" fileName="${basedir}/logs/MMServicesError.log"
        layout="${date}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=ToString}"/>

    <target name="Trace" xsi:type="File" fileName="${basedir}/logs/MMServicesTrace.log"
        layout="${date}|${level:uppercase=true}|${callsite:classname=true:fileName=false}|${message}|${exception:format=ToString}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="Error"/>
    <logger name="*" minlevel="Trace" writeTo="Trace"/>
  </rules>
</nlog>
